<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de clientes</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>

    <a href="/"><img class="logo" src="/img/happy_lifelogo.png " alt="logo"></a>

    <h1>Lista de Clientes</h1>
    <table border="1" width="100%">
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Email</th>
            <th>whatsapp</th>
            <th>CEP</th>
            <th>Logradouro</th>
            <th>Numero</th>
            <th>Complemento</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>UF</th>
            <th>Alterar</th>
            <th>Excluir</th>
        </tr>

        <% if (clientes.length > 0) {  %>
            <% for(var i = 0; i < clientes.length; i++) { %>
                <tr>
                    <td><%=clientes[i].codcliente %></td>
                    <td><%=clientes[i].nome %></td>
                    <td><%=clientes[i].sobrenome %></td>
                    <td><%=clientes[i].email %></td>
                    <td><%=clientes[i].whatsapp %></td>
                    <td><%=clientes[i].cep %></td>
                    <td><%=clientes[i].logradouro %></td>
                    <td><%=clientes[i].numero %></td>
                    <td><%=clientes[i].complemento %></td>
                    <td><%=clientes[i].bairro%></td>
                    <td><%=clientes[i].cidade %></td>
                    <td><%=clientes[i].uf %></td>

                    <div class="botoes">
                        <td><a href="/delete-clientes?codcliente= <%- clientes[i].codcliente %>" ><button class="botao">Excluir</button></a></td>
                        <td><a href="/update-clientes?codcliente= <%- clientes[i].codcliente %>" ><button class="botao">Alterar</button></a></td>
                    </div>
                </tr>
                
                <% } %>

                <% } else { %>
                    <h1>Não temos esse cliente cadastrado</h1>
                    <a href="/"><h2>Clique aqui para voltar para a tela de cadastro.</h2></a>
            <% } %>
    </table>


    <script src="listadecliente.js"></script>
</body>
</html>
    